#modal{
    width: 100vw;
    height: 100vh;
    background-color: #000000d5;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;

}

#modal.hiden{
    display: none;
}
#modal .content{
    min-width: 350px;
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#modal .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
#modal .header h1{
    flex: 1;
    text-align: center;
    color: white;
    font-size: 36px;
    line-height: 42px;
}
#modal .header a{
    font-size: 0.001px;
    background-image: url('../imagens/icones/x.svg');
    width: 25px;
    height: 25px;
}

#modal .content form{
    width: 100%;
}
#modal .content form label{
    font-size: 20px;
    color: white;
    display: block;
    margin-bottom: 10px;
}

#modal .content form .search{
    display: flex;
}
#modal .content form .search input
{
    flex: 1;
    font-size: 16px;
    padding: 12px 16px;
    border: 0;
    border-radius: 8px 0 0px 8px;
    background-color: #f0f0f5;
    outline: none;
    transition: 500ms ease-in-out;
}
#modal .content form .search input:focus{
    border-top: 2px solid var(--prime-color);
    border-bottom: 2px solid var(--prime-color);
    border-left: 2px solid var(--prime-color);
}
#modal .content form .search button
{   
    width: 50px;
    height: 50px;
    background-color: var(--prime-color);
    border: 0;
    border-radius: 0 8px 8px 0;
    transition: 500ms;
    outline: none;
    cursor: pointer;
}
#modal .content form .search button:hover{
    background-color: #2fb56e;
}

/*POINT CREATED*/
#modal.point .content{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#modal.point h1{
    color: white;
    margin-top: 32px;
}