
<div id="modal" class="hiden">
    <div class="content">
        <div class="header">
            <h1>Pontos de Coleta</h1>
            <a href="#" src="imagens/icones/x.svg" title="fechar">Fechar</a>
        </div>
        <!--HEADER-MODAL-->
        <form action="search">
            <label for="search">Informe a Cidade</label>
            <div class="search field">
                <input type="text" name="search">
                <button>
                    <img src="imagens/icones/search.svg" alt="buscar">
                </button>
            </div>
            <!--SEARCH-->
        </form>
    </div>
    <!--CONTENT-MODAL-->
</div>